#wrapper.with-sidebar {
  width: 100%;
}

#sidebar {
  min-width: 280px;
  max-width: 280px;
  margin-left: 0px;
  transition: all 0.3s;
}

#sidebar ul.components {
  padding: 10px 0;
  border-bottom: 1px solid white;
}

#sidebar ul li a {
  padding: 10px 20px;
  display: block;
}

#sidebar ul li a.sublink {
  padding: 10px 30px;
  display: block;
}

#sidebar ul li a:hover {
  color: white;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
}

#sidebar a[data-toggle="collapse"] {
  position: relative;
}

#sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.with-sidebar #page-inner-content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

#sidebar form.menusearch .input-group {
  width: 92% !important;
  margin-left: 12px;
}
