#sidebar {
  width: 240px;
  margin-left: 0px;
}

#wrapper.narrowed #sidebar {
  width: 75px;
  overflow-x: hidden;
}
#sidebar .navbar-nav {
  width: 100%;
}
#wrapper.narrowed #sidebar .navbar-nav {
  width: 240px;
}

#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: clip;
  width: calc(100% - 240px);
}

#wrapper.narrowed #content-wrapper {
  width: calc(100% - 75px);
}

#wrapper #content-wrapper #content {
  flex: 1 0 auto;
}

#sidebar ul.components {
  padding: 10px 0;
  border-bottom: 1px solid white;
}

#sidebar ul li a {
  padding: 10px 20px;
  display: block;
}

#sidebar ul li .sublink {
  padding: 10px 30px;
  display: block;
}

#sidebar ul li a:hover {
  color: white;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
}

#sidebar a[data-toggle="collapse"] {
  position: relative;
}

.with-sidebar #page-inner-content {
  width: 100%;
  min-height: 100vh;
}

#sidebar form.menusearch .input-group {
  width: 92% !important;
  margin-left: 12px;
}

#sidebar #sidebarToggle {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

#sidebar #sidebarToggle::after {
  font-weight: 900;
  content: "\f104";
  font-family: "Font Awesome 5 Free";
  margin-right: 0.1rem;
}

#wrapper.narrowed #sidebar #sidebarToggle::after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  margin-left: 0.25rem;
}
#wrapper.narrowed #sidebar .narrowed-hide {
  display: none;
}

@media (max-width: 768px) {
  #wrapper #content-wrapper {
    width: 100%;
  }
}

.table.table-card-rows {
  border-spacing: 0px 8px;
  border-collapse: separate;
}
.table.table-card-rows tbody {
  transform: translateY(8px);
}
.table.table-card-rows tr {
  box-shadow: var(--bs-box-shadow);
  border-radius: var(--bs-border-radius);
}
.table-hover.table-card-rows > tbody > tr:hover > * {
  --tblr-table-bg-state: transparent !important;
  --bs-table-accent-bg: transparent !important;
}
.table.table-card-rows thead th {
  border-block: 1px solid var(--bs-border-color-translucent) !important;
  padding: 18px 15px;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--bs-card-bg);
}
.table.table-card-rows thead th:first-child {
  border-left: 1px solid var(--bs-border-color-translucent) !important;
  border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius);
}
.table.table-card-rows thead th:last-child {
  border-right: 1px solid var(--bs-border-color-translucent) !important;
  border-radius: 0 var(--bs-border-radius) var(--bs-border-radius) 0;
}
.table.table-card-rows tbody td {
  border-block: 1px solid var(--bs-border-color-translucent) !important;
  position: relative;
  z-index: 11;
  padding: 15px 15px;
  font-size: 14px;
  background-color: var(--bs-card-bg);
}
.table.table-card-rows tbody td:first-child {
  border-left: 1px solid var(--bs-border-color-translucent) !important;
  border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius);
}
.table.table-card-rows tbody td:last-child {
  border-right: 1px solid var(--bs-border-color-translucent) !important;
  border-radius: 0 var(--bs-border-radius) var(--bs-border-radius) 0;
}
